parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        - '#PHPDoc tag @var for variable \$model contains unresolvable type#'
