parameters:
    level: 8
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
        - vendor/cakephp/cakephp/src/Core/Exception/CakeException.php
        - vendor/cakephp/cakephp/src/Database/Exception/DatabaseException.php
    ignoreErrors:
        - identifier: missingType.iterableValue
