parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    autoload_files:
        - tests/bootstrap.php
    ignoreErrors:
        - '#Call to an undefined method Cake\\ORM\\Table::searchManager\(\)#'
        - '#Method Search\\Model\\Filter\\Base::validate\(\) should return array|null but return statement is missing#'
        - '#PHPDoc tag @var for variable \$model contains unresolvable type#'
